.chat {
    flex: 2;
    border-left: 1px solid #dddddd35;
    border-right: 1px solid #dddddd35;
    height: 100%;
    display: flex;
    flex-direction: column;

    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .user-details{
            width: 100%;
            padding: 20px;
            padding-left: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #dddddd35;
            .user {
                display: flex;
                align-items: center;
                gap: 20px;
    
                .close {
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
    
                }
    
                img {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    object-fit: cover;
                }
    
                .texts {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
    
                    span {
                        font-size: 18px;
                        font-weight: bold;
                    }
    
                    p {
                        font-size: 14px;
                        font-weight: 300;
                        color: #a5a5a5;
                    }
                }
            }
    
            .icons {
                display: flex;
                gap: 20px;
            }
        }


        img {
            width: 20px;
            height: 20px;
            cursor: pointer;

        }
        .call-noti{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .card {
                width: 100%;
                border-radius: 1em;
                flex-direction: column;
                justify-content: space-evenly;
                background-color: rgb(30 39 57 / 22%);
                    
                box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);
                cursor: pointer;
                transition: 0.2s ease-in-out;
                padding: 15px;
                padding-top: 0px;
                margin: 5px;
                color: #fff;
              }
              
            
              
              .card, .caller {
                display: flex;
                align-items: center;
              }
              
              .imgBox {
                width: 6em;
                height: 6em;
                box-shadow: 0px 0.25em 1rem rgba(255, 255, 255, 0.5);
                border-radius: 50%;
                justify-content: center;
              }
              
              .name {
                width: 100%;
                text-align: center;
                font-weight: 900;
                transition: 1s ease-in-out;
              }
              
              .name .p1 {
                font-size: 1.2em;
              }
              
              .name .p2 {
                font-size: 0.8em;
                color: rgb(50, 146, 255);
              }
              
              .caller {
                width: 100%;
                flex-direction: row;
                justify-content: space-evenly;
              }
              
              .callerBtn {
                width: 2em;
                height: 2em;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 1.5rem;
                cursor: pointer;
                transition: 0.1s ease-in-out;
                animation: animate linear infinite 2s;
              }
              
              .callerBtn:hover {
                scale: 1.1;
              }
              
              #pick {
                background-color: #28ff28;
                box-shadow: 0px 3px 10px #28ff28;
              }
              
              #end {
                background-color: #ff2828;
                box-shadow: 0px 3px 10px #ff2828;
              }
              
              #end svg {
                rotate: 135deg;
              }
              
              @keyframes animate {
                0% {
                  transform: translateY(0px);
                }
              
                50% {
                  transform: translateY(3px) rotate(-10deg);
                }
              
                100% {
                  transform: translateY(0px);
                }
              }
        }

    }

    .center {
        padding: 20px;
        flex: 1;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .message {
            max-width: 50%;
            width: -moz-fit-content;
            width: fit-content;

            display: flex;
            gap: 20px;

            &.own {
                align-self: flex-end;

                .text {
                    align-items: flex-end;

                    p {
                        background-color: rgb(17 25 40 / 13%);
                    }
                }
            }

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }

            .text {

                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 5px;

                img {
                    max-width: 60%;
                    width: -moz-fit-content;
                    width: fit-content;
                    max-height: 400px;
                    height: -moz-fit-content;
                    height: fit-content;

                    border-radius: 10px;
                    object-fit: cover;
                }

                p {
                    padding: 20px;
                    background-color: rgba(17, 25, 40, 0.299);
                    border-radius: 10px;

                }

                span {
                    font-size: 12px;
                }
            }

        }

        
    }

    .bottom {

        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #dddddd35;
        margin-top: auto;

        .btcontain {
            padding: 0px;
            margin: 0px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;
            .inputimg {
                display: flex;
                width: 75%;
                
                .imgitems{
                    width: 20%;
                    .close {
                        top: 20px;
                        right: 5px;
                        position: relative;
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: flex-end;
                
                        img {
                            width: 15px;
                            aspect-ratio: 1/1;
                            border-radius: 5px;
                            object-fit: contain;
                            cursor: pointer;
                        }
                    }
    
                    img {
    
                        max-width: 100%;
                        width: 100%;
                        aspect-ratio: 2/2;
                        max-height: 100px;
    
                        border-radius: 10px;
                        object-fit: contain;
                    }
                }
                
            }

            .input {
                gap: 20px;

                padding: 0;
                margin: 0;
                align-items: center;
                justify-content: center;

                width: 100%;
                display: flex;

                .blocked {
                    flex: 1;
                    text-align: center;
                }

                img {
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                }

                .icons {
                    display: flex;
                    gap: 20px;

                }

                
                input {
                    background-color: rgb(30 39 57 / 47%);
                    border-radius: 10px;
                    border: none;
                    outline: none;
                    color: white;
                    flex: 1;
                    padding: 20px;
                    font-size: 16px;
                }

                .emoji {
                    position: relative;
                    opacity: 0.95;

                    .picker {
                        position: absolute;
                        bottom: 50px;
                        left: -17vw;
                    }

                }

                .sendBtn {
                    background-color: #5183fe;
                    color: white;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;

                }
            }
        }

    }

}

@media only screen and (max-width: 520px) {
    .chat {
        flex: 1;
        width: 100%;

        .top {
            padding: 15px;

            .user {
                gap: 10px;

                img {
                    width: 50px;
                    height: 50px;
                }

                .texts {
                    p {
                        font-size: 12px;
                    }
                }
            }

            .icons {
                margin-right: 10px;
            }
        }

        .center {
            .message {
                .text {
                    img {
                        max-width: 100%;
                        width: -moz-fit-content;
                        width: fit-content;
                        max-height: 200px;
                        height: -moz-fit-content;
                        height: fit-content;
                    }
                }
            }

        }

        .bottom {
            width: 100%;
            gap: 10px;
            .btcontain{
                .inputimg{
                    width: 90%;
                }
                .input{
                    .icons {
                        gap: 10px;
                    }
        
                    input {
                        width: 30%;
                        font-size: 12px;
                    }
        
                    .sendBtn {
                        padding: 10px 10px;
        
                    }
        
                    .emoji {
        
                        .picker {
                            bottom: 50px;
                            left: -60vw;
                        }
        
                    }
                }
            }

            
        }
    }
}