* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    ::-webkit-scrollbar{
      display: none;

  }
}
body{
  background-image: url("/bg.jpg");
  background-repeat: round;
  display: flex;
  align-items: center;
  height: 100vh;
  color: white;
  justify-content: center; 
}
.container{
  width: 80vw;
  height: 90vh;
  background-color: rgb(0 0 0 / 66%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  backdrop-filter: blur(10px) saturate(180%);
  border-radius: 12px;
  display: flex;

}
@media only screen and (max-width: 520px){
  .container{
  width: 95vw;
  height: 95dvh;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(08px) saturate(180%);
  backdrop-filter: blur(08px) saturate(180%);
  }
}